body{
  font-family: "Helvetica";
  border-top: 5px double #cadaeb;
  margin-top: 40px;
  margin-left: 200px;
  margin-right: 200px;
  border-bottom: 5px double #cadaeb;
  background-color: #262930;
}

.nav{
  list-style-type: none;
  margin-top: 50px;
  padding: 0;
  overflow: hidden;
  font-size: 18px;
  text-align: center;
}

.nav li{
  display: inline;
}

.nav li:before{
  content: "|";
  color: #cadaeb;
}

.nav li:first-child:before {
  content: none;
}

.nav li a{
  display: inline-block;
  color: #cadaeb;
  padding: 0px 10px;
  text-decoration: none;
}

.nav li a:hover:not(.active) {
  color: #5d7998;
}

h1{
  margin-top: 0px;
  font-size: 45px;
  font-weight: normal;
  color: #cadaeb;
  text-align: center;

}

hr{
  border: 1px dotted #343942;
  width: 80%;

}

h2{
  color: #93afcd;
  padding-top: 20px;
  margin-left: 100px;
  font-weight: normal;
  font-size: 20px;
}

p{
  color: #93afcd;
  margin-left: 100px;
  font-weight: lighter;
  font-size: 20px;
  line-height: 30px;
}


IMG.about {
    display: block;
    margin-left: auto;
    margin-right: 100px;
    padding-top: 20px;
    padding-bottom: 50px;
}

#description {
    float:left;
    width: 70%;

}

#pic {
    float:left;
    width: 30%;
}

.clearfix{
  clear: both;
}

#bottom{
  margin-top: 35px;
  margin-bottom: 0px;
  margin-left: 100px;
  width: 550px;
}

.icons{
  list-style-type: none;
  margin-left: 50px;
  margin-top: 30px;
  overflow: hidden;
}

.icons li{
  display: inline;
}

.icons li a{
  display: inline-block;
  color: #93afcd;
  padding: 0px 15px;
  text-decoration: none;
}

.icons li a:hover:not(.active) {
  color: #5d7998;
}
