body{
  background-color: #FFE;
  font-family: "Champagne & Limousines";
  border:2px solid #000000;
  margin-left: 130px;
  margin-right: 130px;
}

h1{
  font-weight: bolder;
  font-size: 40px;
  text-align: center;
  background-color: #F08080;
  margin-top: 10px;
  margin-left: 70px;
  margin-right: 70px;
  margin-bottom: 0px;
  padding-top: 20px;
  padding-bottom: 20px;
}

h2{
  font-size: 20px;
  text-align: center;
}

IMG.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

img {
   border:1px solid #000000;
}

#ingredients {
    float:left;
    width: 400px;
    margin-left: 100px;
}

#recipe {
    float:left;
    width: 550px;
}


ul {
  list-style-type: none;
}

li{
  padding: 5px;
}

a{
  text-decoration: none;
  color: #900;
}

h4{
  color: #887;
}

hr{
	border-top: 1px dotted #F08080;
}

.clearfix{
  clear: both;
}
