body{
  background-color: #FFE;
  font-family: "Champagne & Limousines";
  border:2px solid #000000;
  margin-left: 130px;
  margin-right: 130px;
}

h1{
  font-weight: bolder;
  font-size: 40px;
  text-align: center;
  background-color: #F08080;
  margin-top: 10px;
  margin-left: 70px;
  margin-right: 70px;
  margin-bottom: 0px;
  padding-top: 20px;
  padding-bottom: 20px;
}

h2{
  font-size: 20px;
  text-align: center;
}

IMG.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

img {
   border:1px solid #000000;
}

h3{
  color: #F08080;
  font-size: 20px;
  font-weight: bold;
  margin-left: 160px;
}

ul {
  list-style-type: none;
}

li{
  padding: 5px;
  font-size: 18px;
  margin-left: 150px;
}

ol li{
  margin-left: 175px;
}

span{
  padding-left: 45px;
}

#small{
  padding-left: 10px;
}

#small2{
  padding-left: 30px;
}

a{
  text-decoration: none;
  color: #900;
}

h4{
  color: #887;
  font-size: 16px;
  font-weight: bold;
  margin-left: 160px;
}

p{
  margin-left: 160px;
}

hr{
	border-top: 1px dotted #F08080;
  margin-left: 70px;
  margin-right: 70px;
}

.clearfix{
  clear: both;
}
