body{
  font-family: "Helvetica";
  margin-top: 40px;
  background-color: #f4ebdf;
}

.nav{
  list-style-type: none;
  margin-top: 50px;
  margin-right: 150px;
  padding: 0;
  overflow: hidden;
  font-size: 16px;
  font-stretch: condensed;
  text-align: right;
}

.nav li{
  display: inline;
}

.nav li:before{
  content: "|";
  color: #6D929B;
}

.nav li:first-child:before {
  content: none;
}

.nav li a{
  display: inline-block;
  color: #6D929B;
  padding: 0px 10px;
  text-decoration: none;
}

.nav li a:hover:not(.active) {
  color: #B7AFA3;
}


hr{
  border: 1px solid #C1DAD6;
  width: 80%;

}

h2{
  color: #6D929B;
  padding-top: 70px;
  margin-left: 100px;
  font-weight: lighter;
  font-stretch: semi-expanded;
  font-size: 45px;
}

p{
  color: #6D929B;
  margin-left: 100px;
  font-weight: lighter;
  font-stretch: semi-expanded;
  font-size: 25px;
  line-height: 35px;
}


IMG.about {
    display: block;
    width: 250px;
    height: 250px;
    margin-left: auto;
    margin-right: 100px;
    padding-top: 80px;
    padding-bottom: 150px;
}

#description {
    float:left;
    margin-left: 250px;
}

#pic {
    float:left;
    padding-left: 70px;
}


.icons{
  list-style-type: none;
  margin-left: 100px;
  margin-top: 20px;
  overflow: hidden;
}

.icons li{
  display: inline;
}

.icons li a{
  display: inline-block;
  color: #6D929B;
  padding: 0px 15px;
  text-decoration: none;
}

.icons li a:hover:not(.active) {
  color: #B7AFA3;
}
